.clock-container {
    place-self: center;
    padding: 2em;
    color: #f0e5e5;
    background-color: rgb(46, 210, 216);
    justify-items: center;

    h2,
    h3 {
        font-family: 'Times New Roman';
    }
}

.clock-container.dark {
    background-color: rgb(42, 42, 172);
}